@media (min-width: 800px) {
  .site-nav .page-link,
  .site-nav .page-link:visited {
    color: var(--navy-color);
  }

  .site-nav .page-link--active,
  .site-nav .page-link[aria-current="page"] {
    font-weight: 700;
  }
}

@media (max-width: 799px) {
  .trigger {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

@media (min-width: 800px) {
  .trigger {
    display: block;
  }

  .menu-icon {
    display: none;
  }
}
