<div
    class="callout callout--{{ include.tone | default: 'blue' }}{% if include.image or include.icon %} callout--with-media{% else %} callout--without-media{% endif %}{% if include.icon %} callout--with-icon{% endif %}{% if include.image %} callout--with-image{% endif %}">
    {% if include.image or include.icon %}
    <div class="callout__media">
        {% if include.link %}<a href="{{ include.link }}" style="text-decoration: none;">{% endif %}
            {% if include.image %}
            <img class="callout__image" src="{{ include.image }}" alt="{{ include.alt | default: '' }}">
            {% elsif include.icon %}
            <span class="callout__icon callout__icon--{{ include.tone | default: 'blue' }}" aria-hidden="true">{{
                include.icon }}</span>
            {% if include.alt %}
            <span class="screen-reader-text">{{ include.alt }}</span>
            {% endif %}
            {% endif %}
            {% if include.link %}</a>{% endif %}
    </div>
    {% endif %}
    <div class="callout__content">
        {{ include.text }}
    </div>
</div>
