{% assign summary = include.item.summary %}
{% assign system_state = include.item.state %}
{% assign state_label = 'Error' %}
{% if system_state == 'stable' %}
{% assign state_label = 'Stable' %}
{% elsif system_state == 'experimental' %}
{% assign state_label = 'Experimental' %}
{% elsif system_state == 'deprecated' %}
{% assign state_label = 'Deprecated' %}
{% endif %}
<div>
    {% if include.item.pinned == 1 %}<i class="fa-solid fa-thumbtack" style="color:var(--blue-color)"></i>{% endif %}
    <a href="{{ include.item.url }}">{{ include.item.title }}</a>
    {% if system_state %}<span class="system-badge system-badge--{{ system_state }}">{{ state_label }}</span>{% endif %}
    <p>{{ summary }}</p>
</div>
