---
layout: default

---
<article class="post">

  {% unless page.hide_title %}
  <header class="post-header">
    <h1 class="">{{ page.title | escape }}</h1>
  </header>
  {% endunless %}

  <div class="post-content">

    {{ content }}

    {% case page.category %}
    {% when "apps" %}
    {% assign entries = site.apps %}
    {% when "faq" %}
    {% assign entries = site.faq %}
    {% when "tutorials" %}
    {% assign entries = site.tutorials %}
    {% when "videos" %}
    {% assign entries = site.videos %}
    {% else %}
    {% assign entries = "" | split: "," %}
    {% endcase %}

    {% if page.sorting == "alpha" %}
    {% assign entries = entries | sort: "title" %}
    {% elsif page.sorting == "weight" %}
    {% assign grouped = entries | group_by: "weight" | sort: "name", "last" | reverse %}
    {% assign weighted_entries = "" | split: "," %}
    {% for group in grouped %}
    {% assign items = group.items | sort: "title" %}
    {% for item in items %}
    {% assign weighted_entries = weighted_entries | push: item %}
    {% endfor %}
    {% endfor %}
    {% assign entries = weighted_entries %}
    {% endif %}

    <div id="search_area">
      <div class="search_box">
        <span class="search_icon" aria-hidden="true"></span>
        <input id="search" type="search" placeholder="{{ page.search_placeholder | default: 'Search' }}">
        <button class="search_clear" type="button" aria-label="Clear search" style="display: none;">&times;</button>
      </div>
    </div>

    <div id="search_results_area">
      <h2 id="search_results_heading" style="display:none">Search results: <span id="result_count"></span></h2>
      <ul id="search_results" class="posts">
        {% for post in entries %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <p>{{ post.summary | default: "" }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>

    {{ page.post_content }}

  </div>

</article>

<script type="text/javascript" charset="utf-8">
  var posts = [
    {% for post in entries %}
  {
    title: { { post.title | strip_html | jsonify } },
    summary: { { post.summary | default: "" | strip_html | jsonify } },
    content: { { post.content | strip_html | normalize_whitespace | jsonify } },
    url: { { post.url | strip_html | jsonify } }
  } {% unless forloop.last %}, {% endunless %}
  {% endfor %}
  ];
</script>
<script type="text/javascript" src="{{ " /js/jquery.min.js" | prepend: full_base_url }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ " /js/json_search.0.9.0.js" | prepend: full_base_url }}"
  charset="utf-8"></script>
<script type="text/javascript" src="{{ " /js/posts.js" | prepend: full_base_url }}" charset="utf-8"></script>
